# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/themes/twentytwentyfive/
web/app/upgrade/*
!web/app/upgrade/.gitkeep
web/app/uploads/*
!web/app/uploads/.gitkeep
web/app/languages/*
!web/app/languages/.gitkeep
web/app/cache/*
web/app/themes/awesome/assets/build

# WordPress
web/wp
web/.htaccess

# Logs
*.log

# Dotenv
.env
.env.*
!.env.example

# Composer
/vendor
auth.json

# WP-CLI
wp-cli.local.yml

# Npm
/web/app/themes/awesome/node_modules
node_modules

*-min.js
*.min.js
*.css
*.css.map
!web/app/themes/awesome/style.css
!.env.deploy
